.card {
  position: relative;
  height: 45rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto
}

.card-img {
  width: 100%;
  height: 50%;
  border-radius: 5px; 
  margin-bottom: 10px;
}

.card-name {
  margin: 10px;
  font-size: 2.5rem;
  color: #333;
}

.card-city {
  margin-left: 10px;
  font-size: 2rem;
  color: #666;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1.5rem;
  color: #555;
  margin: 0;
}

.card-button-link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 3.5rem;
  background-color: #F28705;
  border-radius: 5px;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer
}


@media (max-width: 600px) {
  .card {
    width: 30rem;
    height: 35rem
  }

  .card-name {
    font-size: 2rem
  }

  .card-city {
    font-size: 1.5rem
  }
} 
